*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display: flex;
height: 100vh;
align-items: center;
justify-content: center;
    background-color: rgb(255, 254, 254);
}
.box{
    padding: 10px;
text-align: center;
margin: auto;
height: 90vh;
min-width: 90vw;
background-color: rgb(227, 224, 224);
}
.box h1{
color: rgb(75, 73, 70);
font-size: 30pt;
}
.input{
    padding: 10px;

}
.input input{
    height: 50PX;
    min-width: 90vw;
    border: none;
    math-style: none;
    outline: none;
    font-size: 22px;
    padding: 10px;
    font-weight: 600;
}
.num{
    background-color: #e2dddd;
    margin: auto;
    padding: 10px;
height:60vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap:10px;
}
span{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 235, 235);
 box-shadow: inset -3px 2px 4px rgb(209, 207, 207), inset 3px 2px 7px rgb(255, 255, 255);
}