*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 127, 127);
}
.main{
text-align: center;
width: 100vw;
height: 100vh;
background-color: rgb(204, 200, 194);
}
.number{
    background-color: hsl(245, 95%, 30%);
    height: 100%;
}
.number span{
    background-color: rgb(134, 10, 235);
}
.num{
    background-color: aqua;
    margin:     10px;
    padding:50px ;
}